# Big Data Management and Processing

Exercises submitted via Python Notebook to keep queries and output close together and easily readable :)

## Setup and imports

In [1]:
from bson.code import Code
import pandas as pd
from pprint import pprint
from pymongo import MongoClient

client = MongoClient('localhost', 27017)
cities = client.bdmp['cities']
regions = client.bdmp['regions']
countries = client.bdmp['countries']

## Exercise 1: Queries

Select all Austrian cities (`countryID = 15`)!

In [2]:
pd.DataFrame(cities.find({'CountryID': 15}))

,_id,CityId,CountryID,RegionID,City,Latitude,Longitude,TimeZone,DmaId,Code
0,50bebc7714b6500c5cb78ffe,3352,15,1083,Abtenau,47.549999,13.350000,+01:00,0,ABTE
1,50bebc7714b6500c5cb78fff,3353,15,1080,Graz,47.067001,15.450000,+01:00,0,GRAZ
2,50bebc7814b6500c5cb79000,3354,15,1081,Kitzbuhel,47.450001,12.383000,+01:00,0,KITZ
3,50bebc7814b6500c5cb79001,3355,15,1077,Lilienfeld,48.016998,15.633000,+01:00,0,LILI
4,50bebc7814b6500c5cb79002,3356,15,1078,Linz,48.299999,14.300000,+01:00,0,LINZ
5,50bebc7914b6500c5cb79003,3357,15,1079,Salzburg,47.799999,13.033000,+01:00,0,SALZ
6,50bebc7914b6500c5cb79004,3358,15,1081,Solden,46.966999,11.000000,+01:00,0,SOLD
7,50bebc7914b6500c5cb79005,3361,15,1075,Stegersbach,47.167000,16.167000,+01:00,0,STEG
8,50bebc7a14b6500c5cb79006,3362,15,1078,Steyr,48.049999,14.417000,+01:00,0,STEY
9,50bebde014b6500c5cb79340,6033,15,1081,Innsbruck,47.266998,11.400000,+01:00,0,INNS
10,50bebde014b6500c5cb79341,6034,15,1083,Vienna,48.200001,16.367001,+01:00,0,VIEN
11,50bebe1d14b6500c5cb793db,12329,15,1082,Hohenems,47.367001,9.683000,+01:00,0,HOHE
12,50bebe1f14b6500c5cb793e1,12399,15,1082,Bregenz,47.500000,9.767000,+01:00,0,BREG
13,50bebe2314b6500c5cb793e9,12466,15,1077,Baden,48.016998,16.233000,+01:00,0,BADE
14,50bebe2414b6500c5cb793ea,12467,15,1076,D,46.783001,13.660000,+01:00,0,D
15,50bebe3314b6500c5cb79414,12867,15,1081,Zirl,47.283001,11.233000,+01:00,0,ZIRL
16,50bebe3914b6500c5cb79422,12956,15,1081,W,47.483002,12.067000,+01:00,0,W
17,50bebe4b14b6500c5cb79451,13317,15,1077,Korneuburg,48.349998,16.333000,+01:00,0,KORN
18,50bebe4d14b6500c5cb79457,13364,15,1077,Wieselburg,48.132999,15.133000,+01:00,0,WIES
19,50bebe4f14b6500c5cb7945d,13439,15,1075,Pinkafeld,47.367001,16.117001,+01:00,0,PINK
20,50bebe5514b6500c5cb7946c,13557,15,1081,Jochberg,47.382999,12.400000,+01:00,0,JOCH
21,50bebe5714b6500c5cb79471,13625,15,1077,Wiener Neustadt,47.799999,16.250000,+01:00,0,WNEU
22,50bebe6014b6500c5cb79482,13801,15,1077,Zwettl,48.617001,15.167000,+01:00,0,ZWET
23,50bebe7a14b6500c5cb794c3,14361,15,1080,Leoben,47.382999,15.100000,+01:00,0,LEOB
24,50bebe8d14b6500c5cb794ee,14704,15,1076,Feldkirchen,46.716999,14.100000,+01:00,0,FELD
25,50bebe9014b6500c5cb794f3,14725,15,1082,Dornbirn,47.417000,9.733000,+01:00,0,DORN
26,50bebe9a14b6500c5cb79508,14860,15,1078,Bad Hall,48.033001,14.200000,+01:00,0,BHAL
27,50bebe9f14b6500c5cb79517,15003,15,1075,Neud,47.783001,16.283001,+01:00,0,NEUD
28,50bebeaf14b6500c5cb79541,15407,15,1080,Kindberg,47.500000,15.450000,+01:00,0,KIND
29,50bebeb314b6500c5cb7954c,15467,15,1076,Klagenfurt,46.625000,14.305000,+01:00,0,KLAG
30,50bebeb814b6500c5cb79559,15557,15,1077,M,48.083000,16.283001,+01:00,0,M
31,50bebebc14b6500c5cb79563,15616,15,1077,Neulengbach,48.200001,15.900000,+01:00,0,NEUL
32,50bebed414b6500c5cb79581,15858,15,1077,G,48.349998,16.733000,+01:00,0,G
33,50bebedc14b6500c5cb79597,15948,15,1077,Retz,48.750000,15.950000,+01:00,0,RETZ
34,50bebefa14b6500c5cb795e2,16515,15,1078,Hagenberg,48.367001,14.517000,+01:00,0,HAGE
35,50bebefe14b6500c5cb795eb,16597,15,1075,Eisenstadt,47.849998,16.517000,+01:00,0,EISE
36,50bebf0414b6500c5cb795fb,16779,15,1076,Villach,46.610001,13.856000,+01:00,0,VILL
37,50bebf0414b6500c5cb795fc,16781,15,1076,Bodensdorf,46.691002,13.971000,+01:00,0,BODE
38,50bebf0514b6500c5cb795ff,16815,15,1077,Rosental,48.033001,16.183001,+01:00,0,ROSE
39,50bebf0614b6500c5cb79600,16818,15,1081,Reutte,47.483002,10.717000,+01:00,0,REUT
40,50bebf0f14b6500c5cb79619,17005,15,1078,Wels,48.167000,14.033000,+01:00,0,WELS
41,50bebf1314b6500c5cb7961e,17045,15,1080,M,47.599998,15.683000,+01:00,0,M
42,50bebf1414b6500c5cb79623,17142,15,1079,Tamsweg,47.132999,13.800000,+01:00,0,TAMS
43,50bebf1614b6500c5cb79627,17233,15,1077,Bad V,47.966999,16.200001,+01:00,0,BV
44,50bebf1614b6500c5cb79628,17234,15,1083,Wien,48.200001,16.367001,+01:00,0,WIEN
45,50bebf1914b6500c5cb79630,17285,15,1075,G,47.067001,16.333000,+01:00,0,G
46,50bebf1d14b6500c5cb79638,17391,15,1077,Grafenbach,47.682999,16.000000,+01:00,0,GRAF
47,50bebf3214b6500c5cb7966c,17897,15,1077,Sankt P,48.200001,15.633000,+01:00,0,SP
48,50bebf5114b6500c5cb796a2,18389,15,1079,Zell am See,47.317001,12.783000,+01:00,0,ZASE
49,50bebf6c14b6500c5cb796e6,41729,15,1079,Sankt Johann im Pongau,47.349998,13.200000,+01:00,0,SJIP
50,50bebf7e14b6500c5cb7970f,41890,15,1077,Ebreichsdorf,47.950001,16.400000,+01:00,0,EBRE
51,50bebf8614b6500c5cb79726,41999,15,1082,G,47.333000,9.633000,+01:00,0,G
52,50bebf8f14b6500c5cb7973b,42058,15,1078,Kremsm,48.049999,14.133000,+01:00,0,KREM
53,50bebfb814b6500c5cb7979d,42953,15,1077,Klosterneuburg,48.310101,16.322599,+01:00,0,KLOS

Select all Austrian cities in ascending order!

In [3]:
pd.DataFrame(cities
             .find({'CountryID': 15})
             .sort([('City', 1)]))

,_id,CityId,CountryID,RegionID,City,Latitude,Longitude,TimeZone,DmaId,Code
0,50bebc7714b6500c5cb78ffe,3352,15,1083,Abtenau,47.549999,13.350000,+01:00,0,ABTE
1,50bebe9a14b6500c5cb79508,14860,15,1078,Bad Hall,48.033001,14.200000,+01:00,0,BHAL
2,50bebf1614b6500c5cb79627,17233,15,1077,Bad V,47.966999,16.200001,+01:00,0,BV
3,50bebe2314b6500c5cb793e9,12466,15,1077,Baden,48.016998,16.233000,+01:00,0,BADE
4,50bebf0414b6500c5cb795fc,16781,15,1076,Bodensdorf,46.691002,13.971000,+01:00,0,BODE
5,50bebe1f14b6500c5cb793e1,12399,15,1082,Bregenz,47.500000,9.767000,+01:00,0,BREG
6,50bebe2414b6500c5cb793ea,12467,15,1076,D,46.783001,13.660000,+01:00,0,D
7,50bebe9014b6500c5cb794f3,14725,15,1082,Dornbirn,47.417000,9.733000,+01:00,0,DORN
8,50bebf7e14b6500c5cb7970f,41890,15,1077,Ebreichsdorf,47.950001,16.400000,+01:00,0,EBRE
9,50bebefe14b6500c5cb795eb,16597,15,1075,Eisenstadt,47.849998,16.517000,+01:00,0,EISE
10,50bebe8d14b6500c5cb794ee,14704,15,1076,Feldkirchen,46.716999,14.100000,+01:00,0,FELD
11,50bebed414b6500c5cb79581,15858,15,1077,G,48.349998,16.733000,+01:00,0,G
12,50bebf1914b6500c5cb79630,17285,15,1075,G,47.067001,16.333000,+01:00,0,G
13,50bebf8614b6500c5cb79726,41999,15,1082,G,47.333000,9.633000,+01:00,0,G
14,50bebf1d14b6500c5cb79638,17391,15,1077,Grafenbach,47.682999,16.000000,+01:00,0,GRAF
15,50bebc7714b6500c5cb78fff,3353,15,1080,Graz,47.067001,15.450000,+01:00,0,GRAZ
16,50bebefa14b6500c5cb795e2,16515,15,1078,Hagenberg,48.367001,14.517000,+01:00,0,HAGE
17,50bebe1d14b6500c5cb793db,12329,15,1082,Hohenems,47.367001,9.683000,+01:00,0,HOHE
18,50bebde014b6500c5cb79340,6033,15,1081,Innsbruck,47.266998,11.400000,+01:00,0,INNS
19,50bebe5514b6500c5cb7946c,13557,15,1081,Jochberg,47.382999,12.400000,+01:00,0,JOCH
20,50bebeaf14b6500c5cb79541,15407,15,1080,Kindberg,47.500000,15.450000,+01:00,0,KIND
21,50bebc7814b6500c5cb79000,3354,15,1081,Kitzbuhel,47.450001,12.383000,+01:00,0,KITZ
22,50bebeb314b6500c5cb7954c,15467,15,1076,Klagenfurt,46.625000,14.305000,+01:00,0,KLAG
23,50bebfb814b6500c5cb7979d,42953,15,1077,Klosterneuburg,48.310101,16.322599,+01:00,0,KLOS
24,50bebe4b14b6500c5cb79451,13317,15,1077,Korneuburg,48.349998,16.333000,+01:00,0,KORN
25,50bebf8f14b6500c5cb7973b,42058,15,1078,Kremsm,48.049999,14.133000,+01:00,0,KREM
26,50bebe7a14b6500c5cb794c3,14361,15,1080,Leoben,47.382999,15.100000,+01:00,0,LEOB
27,50bebc7814b6500c5cb79001,3355,15,1077,Lilienfeld,48.016998,15.633000,+01:00,0,LILI
28,50bebc7814b6500c5cb79002,3356,15,1078,Linz,48.299999,14.300000,+01:00,0,LINZ
29,50bebeb814b6500c5cb79559,15557,15,1077,M,48.083000,16.283001,+01:00,0,M
30,50bebf1314b6500c5cb7961e,17045,15,1080,M,47.599998,15.683000,+01:00,0,M
31,50bebe9f14b6500c5cb79517,15003,15,1075,Neud,47.783001,16.283001,+01:00,0,NEUD
32,50bebebc14b6500c5cb79563,15616,15,1077,Neulengbach,48.200001,15.900000,+01:00,0,NEUL
33,50bebe4f14b6500c5cb7945d,13439,15,1075,Pinkafeld,47.367001,16.117001,+01:00,0,PINK
34,50bebedc14b6500c5cb79597,15948,15,1077,Retz,48.750000,15.950000,+01:00,0,RETZ
35,50bebf0614b6500c5cb79600,16818,15,1081,Reutte,47.483002,10.717000,+01:00,0,REUT
36,50bebf0514b6500c5cb795ff,16815,15,1077,Rosental,48.033001,16.183001,+01:00,0,ROSE
37,50bebc7914b6500c5cb79003,3357,15,1079,Salzburg,47.799999,13.033000,+01:00,0,SALZ
38,50bebf6c14b6500c5cb796e6,41729,15,1079,Sankt Johann im Pongau,47.349998,13.200000,+01:00,0,SJIP
39,50bebf3214b6500c5cb7966c,17897,15,1077,Sankt P,48.200001,15.633000,+01:00,0,SP
40,50bebc7914b6500c5cb79004,3358,15,1081,Solden,46.966999,11.000000,+01:00,0,SOLD
41,50bebc7914b6500c5cb79005,3361,15,1075,Stegersbach,47.167000,16.167000,+01:00,0,STEG
42,50bebc7a14b6500c5cb79006,3362,15,1078,Steyr,48.049999,14.417000,+01:00,0,STEY
43,50bebf1414b6500c5cb79623,17142,15,1079,Tamsweg,47.132999,13.800000,+01:00,0,TAMS
44,50bebde014b6500c5cb79341,6034,15,1083,Vienna,48.200001,16.367001,+01:00,0,VIEN
45,50bebf0414b6500c5cb795fb,16779,15,1076,Villach,46.610001,13.856000,+01:00,0,VILL
46,50bebe3914b6500c5cb79422,12956,15,1081,W,47.483002,12.067000,+01:00,0,W
47,50bebf0f14b6500c5cb79619,17005,15,1078,Wels,48.167000,14.033000,+01:00,0,WELS
48,50bebf1614b6500c5cb79628,17234,15,1083,Wien,48.200001,16.367001,+01:00,0,WIEN
49,50bebe5714b6500c5cb79471,13625,15,1077,Wiener Neustadt,47.799999,16.250000,+01:00,0,WNEU
50,50bebe4d14b6500c5cb79457,13364,15,1077,Wieselburg,48.132999,15.133000,+01:00,0,WIES
51,50bebf5114b6500c5cb796a2,18389,15,1079,Zell am See,47.317001,12.783000,+01:00,0,ZASE
52,50bebe3314b6500c5cb79414,12867,15,1081,Zirl,47.283001,11.233000,+01:00,0,ZIRL
53,50bebe6014b6500c5cb79482,13801,15,1077,Zwettl,48.617001,15.167000,+01:00,0,ZWET

Select all Austrian cities in descending order!

In [4]:
pd.DataFrame(cities
             .find({'CountryID': 15})
             .sort([('City', -1)]))

,_id,CityId,CountryID,RegionID,City,Latitude,Longitude,TimeZone,DmaId,Code
0,50bebe6014b6500c5cb79482,13801,15,1077,Zwettl,48.617001,15.167000,+01:00,0,ZWET
1,50bebe3314b6500c5cb79414,12867,15,1081,Zirl,47.283001,11.233000,+01:00,0,ZIRL
2,50bebf5114b6500c5cb796a2,18389,15,1079,Zell am See,47.317001,12.783000,+01:00,0,ZASE
3,50bebe4d14b6500c5cb79457,13364,15,1077,Wieselburg,48.132999,15.133000,+01:00,0,WIES
4,50bebe5714b6500c5cb79471,13625,15,1077,Wiener Neustadt,47.799999,16.250000,+01:00,0,WNEU
5,50bebf1614b6500c5cb79628,17234,15,1083,Wien,48.200001,16.367001,+01:00,0,WIEN
6,50bebf0f14b6500c5cb79619,17005,15,1078,Wels,48.167000,14.033000,+01:00,0,WELS
7,50bebe3914b6500c5cb79422,12956,15,1081,W,47.483002,12.067000,+01:00,0,W
8,50bebf0414b6500c5cb795fb,16779,15,1076,Villach,46.610001,13.856000,+01:00,0,VILL
9,50bebde014b6500c5cb79341,6034,15,1083,Vienna,48.200001,16.367001,+01:00,0,VIEN
10,50bebf1414b6500c5cb79623,17142,15,1079,Tamsweg,47.132999,13.800000,+01:00,0,TAMS
11,50bebc7a14b6500c5cb79006,3362,15,1078,Steyr,48.049999,14.417000,+01:00,0,STEY
12,50bebc7914b6500c5cb79005,3361,15,1075,Stegersbach,47.167000,16.167000,+01:00,0,STEG
13,50bebc7914b6500c5cb79004,3358,15,1081,Solden,46.966999,11.000000,+01:00,0,SOLD
14,50bebf3214b6500c5cb7966c,17897,15,1077,Sankt P,48.200001,15.633000,+01:00,0,SP
15,50bebf6c14b6500c5cb796e6,41729,15,1079,Sankt Johann im Pongau,47.349998,13.200000,+01:00,0,SJIP
16,50bebc7914b6500c5cb79003,3357,15,1079,Salzburg,47.799999,13.033000,+01:00,0,SALZ
17,50bebf0514b6500c5cb795ff,16815,15,1077,Rosental,48.033001,16.183001,+01:00,0,ROSE
18,50bebf0614b6500c5cb79600,16818,15,1081,Reutte,47.483002,10.717000,+01:00,0,REUT
19,50bebedc14b6500c5cb79597,15948,15,1077,Retz,48.750000,15.950000,+01:00,0,RETZ
20,50bebe4f14b6500c5cb7945d,13439,15,1075,Pinkafeld,47.367001,16.117001,+01:00,0,PINK
21,50bebebc14b6500c5cb79563,15616,15,1077,Neulengbach,48.200001,15.900000,+01:00,0,NEUL
22,50bebe9f14b6500c5cb79517,15003,15,1075,Neud,47.783001,16.283001,+01:00,0,NEUD
23,50bebeb814b6500c5cb79559,15557,15,1077,M,48.083000,16.283001,+01:00,0,M
24,50bebf1314b6500c5cb7961e,17045,15,1080,M,47.599998,15.683000,+01:00,0,M
25,50bebc7814b6500c5cb79002,3356,15,1078,Linz,48.299999,14.300000,+01:00,0,LINZ
26,50bebc7814b6500c5cb79001,3355,15,1077,Lilienfeld,48.016998,15.633000,+01:00,0,LILI
27,50bebe7a14b6500c5cb794c3,14361,15,1080,Leoben,47.382999,15.100000,+01:00,0,LEOB
28,50bebf8f14b6500c5cb7973b,42058,15,1078,Kremsm,48.049999,14.133000,+01:00,0,KREM
29,50bebe4b14b6500c5cb79451,13317,15,1077,Korneuburg,48.349998,16.333000,+01:00,0,KORN
30,50bebfb814b6500c5cb7979d,42953,15,1077,Klosterneuburg,48.310101,16.322599,+01:00,0,KLOS
31,50bebeb314b6500c5cb7954c,15467,15,1076,Klagenfurt,46.625000,14.305000,+01:00,0,KLAG
32,50bebc7814b6500c5cb79000,3354,15,1081,Kitzbuhel,47.450001,12.383000,+01:00,0,KITZ
33,50bebeaf14b6500c5cb79541,15407,15,1080,Kindberg,47.500000,15.450000,+01:00,0,KIND
34,50bebe5514b6500c5cb7946c,13557,15,1081,Jochberg,47.382999,12.400000,+01:00,0,JOCH
35,50bebde014b6500c5cb79340,6033,15,1081,Innsbruck,47.266998,11.400000,+01:00,0,INNS
36,50bebe1d14b6500c5cb793db,12329,15,1082,Hohenems,47.367001,9.683000,+01:00,0,HOHE
37,50bebefa14b6500c5cb795e2,16515,15,1078,Hagenberg,48.367001,14.517000,+01:00,0,HAGE
38,50bebc7714b6500c5cb78fff,3353,15,1080,Graz,47.067001,15.450000,+01:00,0,GRAZ
39,50bebf1d14b6500c5cb79638,17391,15,1077,Grafenbach,47.682999,16.000000,+01:00,0,GRAF
40,50bebed414b6500c5cb79581,15858,15,1077,G,48.349998,16.733000,+01:00,0,G
41,50bebf1914b6500c5cb79630,17285,15,1075,G,47.067001,16.333000,+01:00,0,G
42,50bebf8614b6500c5cb79726,41999,15,1082,G,47.333000,9.633000,+01:00,0,G
43,50bebe8d14b6500c5cb794ee,14704,15,1076,Feldkirchen,46.716999,14.100000,+01:00,0,FELD
44,50bebefe14b6500c5cb795eb,16597,15,1075,Eisenstadt,47.849998,16.517000,+01:00,0,EISE
45,50bebf7e14b6500c5cb7970f,41890,15,1077,Ebreichsdorf,47.950001,16.400000,+01:00,0,EBRE
46,50bebe9014b6500c5cb794f3,14725,15,1082,Dornbirn,47.417000,9.733000,+01:00,0,DORN
47,50bebe2414b6500c5cb793ea,12467,15,1076,D,46.783001,13.660000,+01:00,0,D
48,50bebe1f14b6500c5cb793e1,12399,15,1082,Bregenz,47.500000,9.767000,+01:00,0,BREG
49,50bebf0414b6500c5cb795fc,16781,15,1076,Bodensdorf,46.691002,13.971000,+01:00,0,BODE
50,50bebe2314b6500c5cb793e9,12466,15,1077,Baden,48.016998,16.233000,+01:00,0,BADE
51,50bebf1614b6500c5cb79627,17233,15,1077,Bad V,47.966999,16.200001,+01:00,0,BV
52,50bebe9a14b6500c5cb79508,14860,15,1078,Bad Hall,48.033001,14.200000,+01:00,0,BHAL
53,50bebc7714b6500c5cb78ffe,3352,15,1083,Abtenau,47.549999,13.350000,+01:00,0,ABTE

Select the number of Austrian cities that are included in the dataset!

In [5]:
cities.count_documents({'CountryID': 15})

54

Select solely the city names of all Austrian cities!

In [6]:
pd.DataFrame(cities.find({'CountryID': 15}, {'City': 1, '_id': 0}))

                      City
0                  Abtenau
1                     Graz
2                Kitzbuhel
3               Lilienfeld
4                     Linz
5                 Salzburg
6                   Solden
7              Stegersbach
8                    Steyr
9                Innsbruck
10                  Vienna
11                Hohenems
12                 Bregenz
13                   Baden
14                       D
15                    Zirl
16                       W
17              Korneuburg
18              Wieselburg
19               Pinkafeld
20                Jochberg
21         Wiener Neustadt
22                 Zwettl
23                  Leoben
24             Feldkirchen
25                Dornbirn
26                Bad Hall
27                    Neud
28                Kindberg
29              Klagenfurt
30                       M
31             Neulengbach
32                       G
33                    Retz
34               Hagenberg
35              Eisenstadt
36                 Villach
37              Bodensdorf
38                Rosental
39                  Reutte
40                    Wels
41                       M
42                 Tamsweg
43                   Bad V
44                    Wien
45                       G
46              Grafenbach
47                 Sankt P
48             Zell am See
49  Sankt Johann im Pongau
50            Ebreichsdorf
51                       G
52                  Kremsm
53         Klosterneuburg

Select all countries, which exhibit a population between 15 and 20 millions of people!

In [7]:
pd.DataFrame(countries.find({'Population': {'$gte': 1.5e7, '$lte': 2e7}}))

,_id,CountryId,Country,FIPS104,ISO2,ISO3,ISON,Internet,Capital,MapReference,NationalitySingular,NationalityPlural,Currency,CurrencyCode,Population,Title,Comment
0,50bebfc814b6500c5cb797c6,42,Cameroon,CM,CM,CMR,120,CM,Yaounde,Africa,Cameroonian,Cameroonians,CFA Franc BEAC,XAF,15803220,Cameroon,
1,50bebfc914b6500c5cb797cb,48,Chile,CI,CL,CHL,152,CL,Santiago,South America,Chilean,Chileans,Chilean Peso,CLP,15328467,Chile,
2,50bebfce14b6500c5cb797d6,60,Cote d'Ivoire,IV,CI,CIV,384,CI,Yamoussoukro,Africa,Ivorian,Ivorians,CFA Franc BCEAO,XOF,16393221,Cote d'Ivoire,
3,50bebfdc14b6500c5cb797f5,92,Ghana,GH,GH,GHA,288,GH,Accra,Africa,Ghanaian,Ghanaians,Cedi,GHC,19894014,Ghana,

## Exercise 2: Updates

In [8]:
pd.DataFrame(countries.find({'CountryId': 15}))

,_id,CountryId,Country,FIPS104,ISO2,ISO3,ISON,Internet,Capital,MapReference,NationalitySingular,NationalityPlural,Currency,CurrencyCode,Population,Title,Comment
0,50bebfbd14b6500c5cb797ab,15,Austria,AU,AT,AUT,40,AT,Vienna,Europe,Austrian,Austrians,Euro,EUR,8150895,Austria,

Increase the population of Austria (`countryID = 15`) by 3 persons

In [9]:
countries.update_one({'CountryId': 15}, {'$inc': {'Population': 3}})
pd.DataFrame(countries.find({'CountryId': 15}))

,_id,CountryId,Country,FIPS104,ISO2,ISO3,ISON,Internet,Capital,MapReference,NationalitySingular,NationalityPlural,Currency,CurrencyCode,Population,Title,Comment
0,50bebfbd14b6500c5cb797ab,15,Austria,AU,AT,AUT,40,AT,Vienna,Europe,Austrian,Austrians,Euro,EUR,8150898,Austria,

In [10]:
countries.update_one({'CountryId': 15}, {'$inc': {'Population': -3}})
pd.DataFrame(countries.find({'CountryId': 15}))

,_id,CountryId,Country,FIPS104,ISO2,ISO3,ISON,Internet,Capital,MapReference,NationalitySingular,NationalityPlural,Currency,CurrencyCode,Population,Title,Comment
0,50bebfbd14b6500c5cb797ab,15,Austria,AU,AT,AUT,40,AT,Vienna,Europe,Austrian,Austrians,Euro,EUR,8150895,Austria,

## Exercise 3: MapReduce: Selection

Write a MapReduce program, which returns all Austrian cities (full documents!).

In [11]:
map = Code('function () { emit(this._id, this); }')
reduce = Code('function (key, values) { return values; }')
pd.DataFrame(cities.map_reduce(map, reduce, out='all_cities', query={'CountryID': 15}).find({}))

,_id,value
0,50bebc7714b6500c5cb78ffe,"{'_id': 50bebc7714b6500c5cb78ffe, 'CityId': 33..."
1,50bebc7714b6500c5cb78fff,"{'_id': 50bebc7714b6500c5cb78fff, 'CityId': 33..."
2,50bebc7814b6500c5cb79000,"{'_id': 50bebc7814b6500c5cb79000, 'CityId': 33..."
3,50bebc7814b6500c5cb79001,"{'_id': 50bebc7814b6500c5cb79001, 'CityId': 33..."
4,50bebc7814b6500c5cb79002,"{'_id': 50bebc7814b6500c5cb79002, 'CityId': 33..."
5,50bebc7914b6500c5cb79003,"{'_id': 50bebc7914b6500c5cb79003, 'CityId': 33..."
6,50bebc7914b6500c5cb79004,"{'_id': 50bebc7914b6500c5cb79004, 'CityId': 33..."
7,50bebc7914b6500c5cb79005,"{'_id': 50bebc7914b6500c5cb79005, 'CityId': 33..."
8,50bebc7a14b6500c5cb79006,"{'_id': 50bebc7a14b6500c5cb79006, 'CityId': 33..."
9,50bebde014b6500c5cb79340,"{'_id': 50bebde014b6500c5cb79340, 'CityId': 60..."
10,50bebde014b6500c5cb79341,"{'_id': 50bebde014b6500c5cb79341, 'CityId': 60..."
11,50bebe1d14b6500c5cb793db,"{'_id': 50bebe1d14b6500c5cb793db, 'CityId': 12..."
12,50bebe1f14b6500c5cb793e1,"{'_id': 50bebe1f14b6500c5cb793e1, 'CityId': 12..."
13,50bebe2314b6500c5cb793e9,"{'_id': 50bebe2314b6500c5cb793e9, 'CityId': 12..."
14,50bebe2414b6500c5cb793ea,"{'_id': 50bebe2414b6500c5cb793ea, 'CityId': 12..."
15,50bebe3314b6500c5cb79414,"{'_id': 50bebe3314b6500c5cb79414, 'CityId': 12..."
16,50bebe3914b6500c5cb79422,"{'_id': 50bebe3914b6500c5cb79422, 'CityId': 12..."
17,50bebe4b14b6500c5cb79451,"{'_id': 50bebe4b14b6500c5cb79451, 'CityId': 13..."
18,50bebe4d14b6500c5cb79457,"{'_id': 50bebe4d14b6500c5cb79457, 'CityId': 13..."
19,50bebe4f14b6500c5cb7945d,"{'_id': 50bebe4f14b6500c5cb7945d, 'CityId': 13..."
20,50bebe5514b6500c5cb7946c,"{'_id': 50bebe5514b6500c5cb7946c, 'CityId': 13..."
21,50bebe5714b6500c5cb79471,"{'_id': 50bebe5714b6500c5cb79471, 'CityId': 13..."
22,50bebe6014b6500c5cb79482,"{'_id': 50bebe6014b6500c5cb79482, 'CityId': 13..."
23,50bebe7a14b6500c5cb794c3,"{'_id': 50bebe7a14b6500c5cb794c3, 'CityId': 14..."
24,50bebe8d14b6500c5cb794ee,"{'_id': 50bebe8d14b6500c5cb794ee, 'CityId': 14..."
25,50bebe9014b6500c5cb794f3,"{'_id': 50bebe9014b6500c5cb794f3, 'CityId': 14..."
26,50bebe9a14b6500c5cb79508,"{'_id': 50bebe9a14b6500c5cb79508, 'CityId': 14..."
27,50bebe9f14b6500c5cb79517,"{'_id': 50bebe9f14b6500c5cb79517, 'CityId': 15..."
28,50bebeaf14b6500c5cb79541,"{'_id': 50bebeaf14b6500c5cb79541, 'CityId': 15..."
29,50bebeb314b6500c5cb7954c,"{'_id': 50bebeb314b6500c5cb7954c, 'CityId': 15..."
30,50bebeb814b6500c5cb79559,"{'_id': 50bebeb814b6500c5cb79559, 'CityId': 15..."
31,50bebebc14b6500c5cb79563,"{'_id': 50bebebc14b6500c5cb79563, 'CityId': 15..."
32,50bebed414b6500c5cb79581,"{'_id': 50bebed414b6500c5cb79581, 'CityId': 15..."
33,50bebedc14b6500c5cb79597,"{'_id': 50bebedc14b6500c5cb79597, 'CityId': 15..."
34,50bebefa14b6500c5cb795e2,"{'_id': 50bebefa14b6500c5cb795e2, 'CityId': 16..."
35,50bebefe14b6500c5cb795eb,"{'_id': 50bebefe14b6500c5cb795eb, 'CityId': 16..."
36,50bebf0414b6500c5cb795fb,"{'_id': 50bebf0414b6500c5cb795fb, 'CityId': 16..."
37,50bebf0414b6500c5cb795fc,"{'_id': 50bebf0414b6500c5cb795fc, 'CityId': 16..."
38,50bebf0514b6500c5cb795ff,"{'_id': 50bebf0514b6500c5cb795ff, 'CityId': 16..."
39,50bebf0614b6500c5cb79600,"{'_id': 50bebf0614b6500c5cb79600, 'CityId': 16..."
40,50bebf0f14b6500c5cb79619,"{'_id': 50bebf0f14b6500c5cb79619, 'CityId': 17..."
41,50bebf1314b6500c5cb7961e,"{'_id': 50bebf1314b6500c5cb7961e, 'CityId': 17..."
42,50bebf1414b6500c5cb79623,"{'_id': 50bebf1414b6500c5cb79623, 'CityId': 17..."
43,50bebf1614b6500c5cb79627,"{'_id': 50bebf1614b6500c5cb79627, 'CityId': 17..."
44,50bebf1614b6500c5cb79628,"{'_id': 50bebf1614b6500c5cb79628, 'CityId': 17..."
45,50bebf1914b6500c5cb79630,"{'_id': 50bebf1914b6500c5cb79630, 'CityId': 17..."
46,50bebf1d14b6500c5cb79638,"{'_id': 50bebf1d14b6500c5cb79638, 'CityId': 17..."
47,50bebf3214b6500c5cb7966c,"{'_id': 50bebf3214b6500c5cb7966c, 'CityId': 17..."
48,50bebf5114b6500c5cb796a2,"{'_id': 50bebf5114b6500c5cb796a2, 'CityId': 18..."
49,50bebf6c14b6500c5cb796e6,"{'_id': 50bebf6c14b6500c5cb796e6, 'CityId': 41..."
50,50bebf7e14b6500c5cb7970f,"{'_id': 50bebf7e14b6500c5cb7970f, 'CityId': 41..."
51,50bebf8614b6500c5cb79726,"{'_id': 50bebf8614b6500c5cb79726, 'CityId': 41..."
52,50bebf8f14b6500c5cb7973b,"{'_id': 50bebf8f14b6500c5cb7973b, 'CityId': 42..."
53,50bebfb814b6500c5cb7979d,"{'_id': 50bebfb814b6500c5cb7979d, 'CityId': 42..."

## Exercise 4: MapReduce: Projection with Duplicates

Write a MapReduce program, which returns **solely the city names** of all Austrian cities. If duplicates are included, they should be **kept** in the result. How many Austrian city names are included in the dataset?

In [12]:
map = Code('function () { emit(this._id, this.City); }')
reduce = Code('function (key, values) { return values; }')
pd.DataFrame(cities.map_reduce(map, reduce, out='city_names_duplicates', query={'CountryID': 15}).find({}, {'_id': 0}))

                     value
0                  Abtenau
1                     Graz
2                Kitzbuhel
3               Lilienfeld
4                     Linz
5                 Salzburg
6                   Solden
7              Stegersbach
8                    Steyr
9                Innsbruck
10                  Vienna
11                Hohenems
12                 Bregenz
13                   Baden
14                       D
15                    Zirl
16                       W
17              Korneuburg
18              Wieselburg
19               Pinkafeld
20                Jochberg
21         Wiener Neustadt
22                 Zwettl
23                  Leoben
24             Feldkirchen
25                Dornbirn
26                Bad Hall
27                    Neud
28                Kindberg
29              Klagenfurt
30                       M
31             Neulengbach
32                       G
33                    Retz
34               Hagenberg
35              Eisenstadt
36                 Villach
37              Bodensdorf
38                Rosental
39                  Reutte
40                    Wels
41                       M
42                 Tamsweg
43                   Bad V
44                    Wien
45                       G
46              Grafenbach
47                 Sankt P
48             Zell am See
49  Sankt Johann im Pongau
50            Ebreichsdorf
51                       G
52                  Kremsm
53         Klosterneuburg

## Exercise 5: MapReduce: Projection without Duplicates

Write a MapReduce program, which returns **solely the city names** of all Austrian cities. If duplicates are included, they should be **removed** from the result. Did duplicates arise? How many?

In [13]:
map = Code('function () { emit(this.City, this.City); }')
# just use first entry of values-list
reduce = Code('function (key, values) { return values[0]; }')
pd.DataFrame(cities.map_reduce(map, reduce, out='city_names_no_duplicates', query={'CountryID': 15}).find({}, {'_id': 0}))

                     value
0                  Abtenau
1                 Bad Hall
2                    Bad V
3                    Baden
4               Bodensdorf
5                  Bregenz
6                        D
7                 Dornbirn
8             Ebreichsdorf
9               Eisenstadt
10             Feldkirchen
11                       G
12              Grafenbach
13                    Graz
14               Hagenberg
15                Hohenems
16               Innsbruck
17                Jochberg
18                Kindberg
19               Kitzbuhel
20              Klagenfurt
21         Klosterneuburg
22              Korneuburg
23                  Kremsm
24                  Leoben
25              Lilienfeld
26                    Linz
27                       M
28                    Neud
29             Neulengbach
30               Pinkafeld
31                    Retz
32                  Reutte
33                Rosental
34                Salzburg
35  Sankt Johann im Pongau
36                 Sankt P
37                  Solden
38             Stegersbach
39                   Steyr
40                 Tamsweg
41                  Vienna
42                 Villach
43                       W
44                    Wels
45                    Wien
46         Wiener Neustadt
47              Wieselburg
48             Zell am See
49                    Zirl
50                 Zwettl

## Exercise 6: MapReduce: Aggregation

Write a MapReduce program, which returns the total population of countries having EURO as currency. How many people are returned?

In [14]:
map = Code('function () { emit(this.CurrencyCode, this.Population); }')
# just use first entry of values-list
reduce = Code('function (key, values) { return values[0]; }')
pd.DataFrame(countries.map_reduce(map, reduce, out='currency_code_euro', query={'CurrencyCode': 'EUR'}).find({}, {'_id': 0}))

        value
0  10258762.0

In [15]:
map = Code('function () { emit(this.Currency, this.Population); }')
# just use first entry of values-list
reduce = Code('function (key, values) { return values[0]; }')
pd.DataFrame(countries.map_reduce(map, reduce, out='currency_euro', query={'Currency': 'Euro'}).find({}, {'_id': 0}))

        value
0  10258762.0

## Exercise 7: MapReduce: Join

Write two MapReduce programs, which together produce a collection that represents a join between attributes of the `countries` and the `regions` collections. In terms of SQL, approximately the following query should be realized:

```SQL
SELECT countries.Country, regions.Region
FROM countries, regions
WHERE regions.CountryID = countries.CountryId
AND regions.CountryID = 15;
```

The term “approximately” has been used, since the above query would return **one tuple for each region**. In contrast, the MapReduce program should return **a single document** with an array containing all regions.

**Desired result:**
```
{
 "_id" : 15.0,
 "value" : {
 "Country" : "Austria",
 "Region" : ["Austria", "Burgenland", "Karnten",
 "Niederosterreich", "Oberosterreich", "Salzburg", "Steiermark",
 "Tirol", "Vorarlberg", "Wien"]
 }
}
```

**Hints for solution:**

For achieving combined results, consider “reduce” semantics of MapReduce! Keep in mind that reduce may be applied to **structurally equal** documents, only! Pay attention to the three properties that must be guaranteed by the reduce function:

- `reduce(key, [ C, reduce(key, [ A, B ]) ] ) == reduce (key, [ C, A, B ] )`
- `reduce( key, [ reduce(key, [ A, B ]) ] ) == reduce ( key, [ A, B ] )`
- `reduce ( key, [ A, B ] ) == reduce ( key, [ B, A ] )`

Consequently, test the program with several invocations and in different execution order (e.g., first apply MapReduce to `countries`, then to `regions` and the other way round)!

In [16]:
map_regions = Code('function () { emit(this.CountryID, {_id: this.CountryID, Country: "", Region: [this.Region]}); }')
map_country = Code('function () { emit(this.CountryId, {_id: this.CountryId, Country: this.Country, Region: []}); }')

reduce = Code("""function (key, values) {
    const ret = {Country: "", Region: []};
    values.forEach(value => {
        if (ret.Country === "") {
            ret.Country = value.Country;
        }
        value.Region.forEach(region => {
            if (!ret.Region.includes(region)) {
                ret.Region.push(region);
            }
        });
    });
    return ret;
}""")

Testing invariance by order of execution

In [17]:
result = countries.map_reduce(map_country, reduce, out={'reduce': 'joined_country_first'})
result = regions.map_reduce(map_regions, reduce, out={'reduce': 'joined_country_first'})

for doc in result.find({'_id': 15}):
    pprint(doc)

{'_id': 15.0,
 'value': {'Country': 'Austria',
           'Region': ['Austria',
                      'Burgenland',
                      'Karnten',
                      'Niederosterreich',
                      'Oberosterreich',
                      'Salzburg',
                      'Steiermark',
                      'Tirol',
                      'Vorarlberg',
                      'Wien']}}

In [18]:
result = regions.map_reduce(map_regions, reduce, out={'reduce': 'joined_regions_first'})
result = countries.map_reduce(map_country, reduce, out={'reduce': 'joined_regions_first'})

for doc in result.find({'_id': 15}):
    pprint(doc)

{'_id': 15.0,
 'value': {'Country': 'Austria',
           'Region': ['Austria',
                      'Burgenland',
                      'Karnten',
                      'Niederosterreich',
                      'Oberosterreich',
                      'Salzburg',
                      'Steiermark',
                      'Tirol',
                      'Vorarlberg',
                      'Wien']}}